<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Artwork Archive</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="wrap">
    <div class="card">
      <h1>Miet Warlop</h1>
      <h2>Artwork Archive</h2>

      <div class="grid">
        <a class="btn" href="{{ url_for('add_artwork') }}">Add artwork</a>
        <a class="btn" href="{{ url_for('artwork_list') }}">View artworks</a>
        <a class="btn" href="{{ url_for('certificate_designer') }}">Certificate Designer</a>

      </div>

    
    </div>
  </div>
</body>
</html>
